@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
  padding-top: 0;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  display: grid;
  place-items: center;
}

.attribution {
  text-align: center;
  color: var(--text-color);
  padding: 0 2rem 2rem;
}
.attribution a {
  color: var(--accent-color);
}

html, .dark-theme {
  --text-color: var(--text-dark);
  --bg-color: var(--bg-dark);
  --card-color: var(--card-dark);
  --button-color: var(--button-dark);
  --accent-color: var(--accent-dark);
}
html .dark-mode-logo, .dark-theme .dark-mode-logo {
  display: none;
}
html .light-mode-logo, .dark-theme .light-mode-logo {
  display: block;
}

html.light-theme {
  --text-color: var(--text-light);
  --bg-color: var(--bg-light);
  --card-color: var(--card-light);
  --button-color: var(--button-light);
  --accent-color: var(--accent-light);
}
html.light-theme .light-mode-logo {
  display: none;
}
html.light-theme .dark-mode-logo {
  display: block;
}

:root {
  --accent-dark: hsl(75, 94%, 57%);
  --text-dark: hsl(0, 0%, 100%);
  --button-dark: hsl(0, 0%, 20%);
  --card-dark: hsl(0, 0%, 12%);
  --bg-dark: hsl(0, 0%, 8%);
  --accent-light: hsl(144, 70%, 34%);
  --text-light: hsl(0, 0%, 8%);
  --button-light: hsl(0, 0%, 84%);
  --card-light: hsl(0, 0%, 100%);
  --bg-light: hsl(0, 0%, 87%);
}

.card {
  width: 90%;
  margin: 5rem 0;
  padding: 0.5rem 0.5rem 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background-color: var(--card-color);
  border-radius: 1rem;
  border: none;
}
@media (801px > width >= 480px) {
  .card {
    width: 80%;
  }
}
@media (1281px > width >= 801px) {
  .card {
    width: 50%;
  }
}
@media (width >= 1281px) {
  .card {
    width: 30%;
  }
}
@media (1281px > width >= 801px) {
  .card {
    padding: 1rem 1rem 2rem;
  }
}
@media (width >= 1281px) {
  .card {
    padding: 1.5rem 1.5rem 3rem;
  }
}
.card__theme-switch {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  margin-left: auto;
}
.card__theme-switch .theme-switch {
  display: none;
}
.card__theme-switch .light-mode-logo,
.card__theme-switch .dark-mode-logo {
  fill: var(--text-color);
}
.card__theme-switch:hover {
  cursor: pointer;
  background-color: var(--text-color);
  transition: 0.2s ease-in;
}
.card__theme-switch:hover .light-mode-logo,
.card__theme-switch:hover .dark-mode-logo {
  fill: var(--button-color);
  transition: 0.2s ease-in;
}
.card__img {
  width: 30%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 50%;
  border: none;
}
.card__header {
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 0;
  font-size: 1.7rem;
}
@media (width >= 1281px) {
  .card__header {
    font-size: 2rem;
  }
}
.card__header2 {
  color: var(--accent-color);
  font-weight: 600;
  font-size: 1rem;
}
@media (width >= 1281px) {
  .card__header2 {
    font-size: 1.2rem;
  }
}
.card__p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 0.9rem;
}
@media (width >= 1281px) {
  .card__p {
    font-size: 1rem;
  }
}
.card__social-link-btn {
  width: 90%;
  padding: 1.2rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--button-color);
  color: var(--text-color);
  font-weight: 700;
  font-size: 1rem;
}
.card__social-link-btn:hover {
  background-color: var(--accent-color);
  color: var(--card-color);
  cursor: pointer;
  transition: 0.2s ease-in;
}/*# sourceMappingURL=style.css.map */