:root{
    --accent-dark: hsl(75, 94%, 57%);
    --text-dark: hsl(0, 0%, 100%);
    --button-dark: hsl(0, 0%, 20%);
    --card-dark: hsl(0, 0%, 12%);
    --bg-dark: hsl(0, 0%, 8%);

    --accent-light: hsl(144, 70%, 34%);
    --text-light: hsl(0, 0%, 8%);
    --button-light: hsl(0, 0%, 84%);
    --card-light: hsl(0, 0%, 100%);
    --bg-light: hsl(0, 0%, 87%);
}